/* bottom button style */
#button-container {
  width: 100%;
  height: 20%;
  max-height: 20vh;
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
}

#button-container.hidden {
  display: none;
}

#button {
  position: relative;
  height: 10vh;

  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  overflow: hidden;
  /* border-radius: 10px; */

  padding-left: 1.5vw;
  padding-right: 1.5vw;
  cursor: pointer;

  z-index: 1;
}

#button h2 {
  font-size: 30px;
  font-family: serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  z-index: 10;
}

#button::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 8vh;
  background: limegreen;
  animation: rotate 4s linear infinite;
}

#button::after {
  content: "";
  position: absolute;
  inset: 4px;
  background-color: #000;
  /* border-radius: 6px; */
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#button:hover::after {
  display: none;
}

#button:hover::before {
  display: none;
}

#button.hidden::after {
  display: none;
}

#button.hidden::before {
  display: none;
}

#button.hidden,
#button.hidden h2 {
  display: none;
}

#button:hover {
  background-color: #20c20e;
  box-shadow: 0 0 10px limegreen, 0 0 40px limegreen, 0 0 80px limegreen;
  border-radius: 0;
}

#button:hover h2 {
  color: #1e453e;
}

/* Warning btn effect */
header .msg {
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5vh;
  background: red;
  box-shadow: 0 0 30px red;
  text-shadow: 0 0 20px white;
  text-align: center;
  line-height: 9vh;
  color: white;
  width: 12vw;
  height: 9vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  text-align: center;
  min-width: 200px;
  animation-name: blink;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 319px) {
  #button-container {
    height: 20%;
  }

  #button {
    height: 8vh;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  #button h2 {
    font-size: 23px;
  }
  
  #button::before {
    height: 6vh;
  }
  
  #button::after {
    inset: 3px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #button-container {
    height: 22%;
  }

  #button {
    height: 8vh;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  #button h2 {
    font-size: 20px;
  }
  
  #button::before {
    height: 6vh;
  }
  
  #button::after {
    inset: 3px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) and (min-height: 800px) {
  #button-container {
    height: 22%;
  }

  #button {
    height: 8vh;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  #button h2 {
    font-size: 23px;
  }
  
  #button::before {
    height: 6vh;
  }
  
  #button::after {
    inset: 3px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #button-container {
    height: 22%;
  }

  #button {
    height: 8vh;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  #button h2 {
    font-size: 25px;
  }
  
  #button::before {
    height: 6vh;
  }
  
  #button::after {
    inset: 4px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  #button-container {
    height: 20%;
  }

  #button {
    height: 8vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }

  #button h2 {
    font-size: 22px;
  }
  
  #button::before {
    height: 4vh;
  }
  
  #button::after {
    inset: 3px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) and (orientation: portrait) {
  #button-container {
    height: 22%;
  }

  #button {
    height: 7vh;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  #button h2 {
    font-size: 25px;
  }
  
  #button::before {
    height: 5vh;
  }
  
  #button::after {
    inset: 4px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #button-container {
    height: 20%;
  }

  #button {
    height: 10vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }

  #button h2 {
    font-size: 24px;
  }
  
  #button::before {
    height: 8vh;
  }
  
  #button::after {
    inset: 4px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {}

@media screen and (min-width: 1401px) {
  #button-container {
    height: 20%;
  }

  #button {
    height: 10vh;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  #button h2 {
    font-size: 1.8vw;
  }
  
  #button::before {
    height: 8vh;
  }
  
  #button::after {
    inset: 4px;
  }
}