@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

#home .console.contact {
    width: 60%;
    height: 75%;
}

/* contact page style */

#console_1.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#console_1 .contact-container {
    width: 90%;
    padding: 20px;
}

#console_1 .contact-container * {
    font-family: Poppins, sans-serif;
}

#console_1 .contact-container h1 {
    width: 100%;
    color: limegreen;
    font-size: 3.3rem;
    text-align: center;
    margin-bottom: 10px;
}

#console_1 .contact-container .row100 {
    position:reletive;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#console_1 .contact-container .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

#console_1 .contact-container .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: limegreen;
}

#console_1 .contact-container .row100 .inputBox input, #console_1 .contact-container .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

#console_1 .contact-container .row100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 20px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

#console_1 .contact-container .row100 .inputBox input:focus + .text, #console_1 .contact-container .row100 .inputBox input:valid + .text {
    top: -35px;
    left: -10px;
}

#console_1 .contact-container .row100 .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: limegreen;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

#console_1 .contact-container .row100 .inputBox input:focus ~ .line, #console_1 .contact-container .row100 .inputBox input:valid ~ .line {
    height: 100%;
}

#console_1 .contact-container .row100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

#console_1 .contact-container .row100 .inputBox.textarea textarea {
    height: 100%;
    resize: none;
}

#console_1 .contact-container .row100 .inputBox textarea:focus + .text, #console_1 .contact-container .row100 .inputBox textarea:valid + .text {
    top: -35px;
    left: -10px;
}

#console_1 .contact-container .row100 .inputBox textarea:focus ~ .line, #console_1 .contact-container .row100 .inputBox textarea:valid ~ .line {
    height: 100%;
}

#console_1 .contact-container .row100 .col:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

#console_1 .contact-container .row100 input[type="submit"] {
    padding: 7px 35px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    outline: none;
    background: limegreen;
    color: #000;
    border-radius: 2px;
}

#console_1.contact .contact-container p {
    font-size: 20px;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    color: limegreen;
}



/* SOCIAL ICON BOX */

.social-icon-box {
    width: 15vh;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 20vh;
    transform: translateY(0);
    opacity: 1;
    pointer-events: normal;
    transition: all 0.5s ease;
}

.social-icon-box.inactive {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

.social-icon-box .media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.social-icon-box .media-container i {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}


@media screen and (max-width: 319px) {
    #home .console.contact {
        width: 90%;
        height: 75%;
        top: 15%;
        padding-left: 0;
    }

    #console_1 .contact-container {
        padding-left: 10px;
    }

    #console_1 .contact-container h1 {
        font-size: 1.7rem;
        margin-bottom: 0;
    }

    #console_1 .contact-container .row100 .col {
        margin: 25px 0 15px;
        padding-left: 0;
    }
    
    #console_1 .contact-container .row100 .inputBox {
        margin-left: 0;
        padding-left: 0;
        height: 25px;
    }

    #console_1 .contact-container .row100 .inputBox input, #console_1 .contact-container .row100 .inputBox.textarea textarea {
        font-size: 12px;
    }

    #console_1 .contact-container .row100 .inputBox input:focus + .text, #console_1 .contact-container .row100 .inputBox input:valid + .text {
        top: -25px;
        left: -10px;
    }
    
    #console_1 .contact-container .row100 .inputBox .text {
        line-height: 25px;
        font-size: 12px;
    }

    #console_1 .contact-container .row100 .inputBox.textarea {
        height: 60px;
    }

    #console_1 .contact-container .row100:nth-last-of-type(2) {
        padding: 0;
        margin: 0;
        height: 40px;
    }
    
    #console_1 .contact-container .row100:nth-last-of-type(2) .col {
        padding: 0;
        margin: 0;
    }

    #console_1 .contact-container .row100 input[type="submit"] {
        border: none;
        padding: 5px 30px;
        cursor: pointer;
        outline: none;
        background: limegreen;
        color: #000;
        font-size: 12px;
        border-radius: 2px;
    }

    #console_1.contact .contact-container p {
        font-size: 12px;
        height: auto;
        line-height: 1.5;
    }


    .social-icon-box {
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: auto;
        bottom: 1vh;
        left: 0;
        transform: translateY(0);
        opacity: 1;
        pointer-events: normal;
        transition: all 0.5s ease;
    }
    
    .social-icon-box.inactive {
        transform: translateY(100%);
        opacity: 0;
        pointer-events: none;
    }
    
    .social-icon-box .media-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin: 0 7px;
    }
    
    .social-icon-box .media-container i {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    #home .console.contact {
        width: 90%;
        height: 75%;
        top: 15%;
    }

    #console_1 .contact-container h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    #console_1 .contact-container .row100 .col {
        margin: 25px 0 15px;
    }
    
    #console_1 .contact-container .row100 .inputBox {
        height: 25px;
    }

    #console_1 .contact-container .row100 .inputBox input, #console_1 .contact-container .row100 .inputBox.textarea textarea {
        font-size: 15px;
    }

    #console_1 .contact-container .row100 .inputBox input:focus + .text, #console_1 .contact-container .row100 .inputBox input:valid + .text {
        top: -25px;
        left: -10px;
    }
    
    #console_1 .contact-container .row100 .inputBox .text {
        line-height: 25px;
        font-size: 15px;
    }

    #console_1 .contact-container .row100 .inputBox.textarea {
        height: 70px;
    }

    #console_1 .contact-container .row100:nth-last-of-type(2) {
        padding: 0;
        margin: 0;
        height: 40px;
    }
    
    #console_1 .contact-container .row100:nth-last-of-type(2) .col {
        padding: 0;
        margin: 0;
    }

    #console_1 .contact-container .row100 input[type="submit"] {
        border: none;
        padding: 5px 30px;
        cursor: pointer;
        outline: none;
        background: limegreen;
        color: #000;
        font-size: 15px;
        border-radius: 2px;
    }

    #console_1.contact .contact-container p {
        font-size: 15px;
        height: auto;
        line-height: 1.5;
    }


    .social-icon-box {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: auto;
        bottom: 1vh;
        left: 0;
        transform: translateY(0);
        opacity: 1;
        pointer-events: normal;
        transition: all 0.5s ease;
    }
    
    .social-icon-box.inactive {
        transform: translateY(100%);
        opacity: 0;
        pointer-events: none;
    }
    
    .social-icon-box .media-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin: 0 5px;
    }
    
    .social-icon-box .media-container i {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px) and (min-height: 800px) {
    #home .console.contact {
        width: 90%;
        height: 70%;
        top: 18%;
    }

    #console_1 .contact-container h1 {
        font-size: 2.2rem;
        margin-bottom: 0;
    }

    #console_1 .contact-container .row100 .inputBox input, #console_1 .contact-container .row100 .inputBox.textarea textarea {
        font-size: 16px;
    }
    
    #console_1 .contact-container .row100 .inputBox .text {
        font-size: 16px;
    }

    #console_1 .contact-container .row100 input[type="submit"] {
        font-size: 16px;
    }

    #console_1.contact .contact-container p {
        font-size: 16px;
    }


    .social-icon-box {
        bottom: 2vh;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    #home .console.contact {
        width: 90%;
        height: 70%;
        top: 18%;
    }

    #console_1 .contact-container h1 {
        font-size: 2.7rem;
        margin-bottom: 8px;
    }

    #console_1 .contact-container .row100 .col {
        margin: 30px 0 10px;
    }
    
    #console_1 .contact-container .row100 .inputBox {
        height: 30px;
    }

    #console_1 .contact-container .row100 .inputBox input, #console_1 .contact-container .row100 .inputBox.textarea textarea {
        font-size: 18px;
    }

    #console_1 .contact-container .row100 .inputBox input:focus + .text, #console_1 .contact-container .row100 .inputBox input:valid + .text {
        top: -30px;
        left: -10px;
    }
    
    #console_1 .contact-container .row100 .inputBox .text {
        line-height: 30px;
        font-size: 18px;
    }

    #console_1 .contact-container .row100 .inputBox.textarea {
        height: 100px;
    }


    #console_1.contact .contact-container p {
        font-size: 18px;
        height: auto;
        line-height: 1.5;
    }


    .social-icon-box {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: auto;
        bottom: 2vh;
        left: 0;
        transform: translateY(0);
        opacity: 1;
        pointer-events: normal;
        transition: all 0.5s ease;
    }
    
    .social-icon-box.inactive {
        transform: translateY(100%);
        opacity: 0;
        pointer-events: none;
    }
    
    .social-icon-box .media-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin: 0 5px;
    }
    
    .social-icon-box .media-container i {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    #home .console.contact {
        width: 70%;
        height: 75%;
        top: 15%;
    }

    #console_1 .contact-container h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    #console_1 .contact-container .row100 .col {
        margin: 25px 0 15px;
    }
    
    #console_1 .contact-container .row100 .inputBox {
        height: 25px;
    }

    #console_1 .contact-container .row100 .inputBox input, #console_1 .contact-container .row100 .inputBox.textarea textarea {
        font-size: 15px;
    }

    #console_1 .contact-container .row100 .inputBox input:focus + .text, #console_1 .contact-container .row100 .inputBox input:valid + .text {
        top: -25px;
        left: -10px;
    }
    
    #console_1 .contact-container .row100 .inputBox .text {
        line-height: 25px;
        font-size: 15px;
    }

    #console_1 .contact-container .row100 .inputBox.textarea {
        height: 70px;
    }

    #console_1 .contact-container .row100:nth-last-of-type(2) {
        padding: 0;
        margin: 0;
        height: 40px;
    }
    
    #console_1 .contact-container .row100:nth-last-of-type(2) .col {
        padding: 0;
        margin: 0;
    }

    #console_1 .contact-container .row100 input[type="submit"] {
        border: none;
        padding: 5px 30px;
        cursor: pointer;
        outline: none;
        background: limegreen;
        color: #000;
        font-size: 15px;
        border-radius: 2px;
    }

    #console_1.contact .contact-container p {
        font-size: 15px;
        height: auto;
        line-height: 1.5;
    }


    .social-icon-box {
        width: 10vh;
        height: 280px;
        display: flex;
        top: 20vh;
        left: 1vw;
    }
    
    .social-icon-box .media-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }
    
    .social-icon-box .media-container i {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) and (orientation: portrait) {
    #home .console.contact {
        width: 90%;
        height: 65%;
        top: 20%;
    }

    #console_1 .contact-container h1 {
        font-size: 3.3rem;
        margin-bottom: 10px;
    }

    #console_1 .contact-container .row100 .col {
        margin: 35px 0 10px;
    }
    
    #console_1 .contact-container .row100 .inputBox {
        height: 40px;
    }

    #console_1 .contact-container .row100 .inputBox input, #console_1 .contact-container .row100 .inputBox.textarea textarea {
        font-size: 18px;
    }

    #console_1 .contact-container .row100 .inputBox input:focus + .text, #console_1 .contact-container .row100 .inputBox input:valid + .text {
        top: -35px;
        left: -10px;
    }
    
    #console_1 .contact-container .row100 .inputBox .text {
        line-height: 30px;
        font-size: 20px
    }

    #console_1 .contact-container .row100 .inputBox.textarea {
        height: 100px;
    }


    #console_1.contact .contact-container p {
        font-size: 20px;
        height: auto;
        line-height: 1.5;
    }


    .social-icon-box {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: auto;
        bottom: 5vh;
        left: 0;
        transform: translateY(0);
        opacity: 1;
        pointer-events: normal;
        transition: all 0.5s ease;
    }
    
    .social-icon-box.inactive {
        transform: translateY(100%);
        opacity: 0;
        pointer-events: none;
    }
    
    .social-icon-box .media-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: 0 10px;
    }
    
    .social-icon-box .media-container i {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #home .console.contact {
        width: 60%;
        height: 75%;
    }

    #console_1 .contact-container h1 {
        font-size: 2.7rem;
        margin-bottom: 8px;
    }

    #console_1 .contact-container .row100 .col {
        margin: 30px 0 10px;
    }
    
    #console_1 .contact-container .row100 .inputBox {
        height: 30px;
    }

    #console_1 .contact-container .row100 .inputBox input, #console_1 .contact-container .row100 .inputBox.textarea textarea {
        font-size: 18px;
    }

    #console_1 .contact-container .row100 .inputBox input:focus + .text, #console_1 .contact-container .row100 .inputBox input:valid + .text {
        top: -30px;
        left: -10px;
    }
    
    #console_1 .contact-container .row100 .inputBox .text {
        line-height: 30px;
        font-size: 18px;
    }

    #console_1 .contact-container .row100 .inputBox.textarea {
        height: 100px;
    }


    #console_1.contact .contact-container p {
        font-size: 18px;
        height: auto;
        line-height: 1.5;
    }


    .social-icon-box {
        width: 10vh;
        height: 280px;
        display: flex;
        top: 20vh;
        left: 1.5vw;
    }
    
    .social-icon-box .media-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
    }
    
    .social-icon-box .media-container i {
        font-size: 35px;
        line-height: 45px;
        text-align: center;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {}