/* skill page style */
.skill-container {
  width: 80%;
  margin-left: 5%;
}

.console .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 18px;
  font-weight: 500;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  width: 90%;
  height: 100%;
  border-radius: 6px;
  background: limegreen;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skill-bar .skill-per.css {
  width: 90%;
}

.skill-bar .skill-per.javascript {
  width: 85%;
}

.skill-bar .skill-per.react {
  width: 80%;
}

.skill-bar .skill-per.sass {
  width: 80%;
}

.skill-bar .skill-per.jquery {
  width: 60%;
}

.skill-bar .skill-per.nodejs {
  width: 80%;
}

.skill-bar .skill-per.expressjs {
  width: 70%;
}

.skill-bar .skill-per.mongodb {
  width: 70%;
}

.skill-bar .skill-per.mysql {
  width: 70%;
}

.skill-bar .skill-per.php {
  width: 40%;
}

.skill-bar .skill-per.bootstrap {
  width: 70%;
}

.skill-bar .skill-per.wordpress {
  width: 75%;
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  background: limegreen;
  color: #000;
  font-size: 10px;
  font-weight: 700;
  border-radius: 3px;
  padding: 2px 6px;
  z-index: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 10px;
  height: 10px;
  background: limegreen;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

/* The tool container */
.tool-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 1vh;
}

.tool-container .col {
  width: 45%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5vh 1.5vw;
  overflow: hidden;
  word-wrap: break-word;
}

.tool-container .col:nth-of-type(2) {
  margin-left: 2vh;
}

.col h3 {
  margin-top: 0.5vh;
  font-size: 20px;
  font-weight: 600;
  color: lime;
  text-decoration: underline limegreen;
  animation: insert 0.4s ease-in-out 0s forwards;
}

.col ul {
  list-style-type: none;
}

.col ul li {
  margin: 8px 0;
  font-size: 17px;
  font-weight: 500;
  opacity: 0;
}

@keyframes insert {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.col ul li:nth-of-type(1) {
  animation: insert 0.4s ease-in-out 0.1s forwards;
}

.col ul li:nth-of-type(2) {
  animation: insert 0.4s ease-in-out 0.2s forwards;
}

.col ul li:nth-of-type(3) {
  animation: insert 0.4s ease-in-out 0.3s forwards;
}

.col ul li:nth-of-type(4) {
  animation: insert 0.4s ease-in-out 0.4s forwards;
}

.col ul li:nth-of-type(5) {
  animation: insert 0.4s ease-in-out 0.5s forwards;
}

@media screen and (max-width: 319px) {
  .skill-box .title {
    font-size: 13px;
  }


  .skill-per .tooltip {
    font-size: 7px;
  }

  .col h3 {
    font-size: 15px;
  }

  .col ul li {
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  .skill-container {
    margin-left: 8%;
  }

  .skill-box .title {
    font-size: 15px;
  }

  .skill-box .skill-bar {
    height: 6px;
    border-radius: 4px;
  }

  .skill-bar .skill-per {
    border-radius: 4px;
  }

  .skill-per .tooltip {
    font-size: 8px;
    border-radius: 2px;
    padding: 1px 3px;
  }

  .tooltip::before {
    bottom: -2px;
    width: 8px;
    height: 8px;
  }

  .tool-container .col {
    width: 48%;
  }

  .tool-container .col:nth-of-type(1) {
    margin-left: 0;
  }

  .tool-container .col:nth-of-type(2) {
    margin-right: 0;
  }

  .col h3 {
    font-size: 18px;
  }

  .col ul li {
    font-size: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) and (min-height: 800px) {
  .skill-box .title {
    font-size: 17px;
  }

  .skill-box .skill-bar {
    height: 6px;
    border-radius: 4px;
  }

  .skill-bar .skill-per {
    border-radius: 4px;
  }

  .skill-per .tooltip {
    font-size: 10px;
    border-radius: 2px;
    padding: 2px 5px;
  }

  .col h3 {
    font-size: 20px;
  }

  .col ul li {
    font-size: 17px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .skill-container {
    margin-left: 8%;
  }

  .skill-box .title {
    font-size: 18px;
  }

  .skill-box .skill-bar {
    height: 8px;
    border-radius: 6px;
  }

  .skill-bar .skill-per {
    border-radius: 6px;
  }

  .skill-per .tooltip {
    font-size: 10px;
    border-radius: 3px;
    padding: 2px 6px;
  }

  .tooltip::before {
    bottom: -2px;
    width: 10px;
    height: 10px;
  }

  .tool-container .col {
    width: 48%;
  }

  .tool-container .col:nth-of-type(1) {
    margin-left: 0;
  }

  .tool-container .col:nth-of-type(2) {
    margin-right: 0;
  }

  .col h3 {
    font-size: 20px;
  }

  .col ul li {
    font-size: 17px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .skill-container {
    margin-left: 5%;
  }

  .skill-box .title {
    font-size: 15px;
  }

  .skill-box .skill-bar {
    height: 5px;
    border-radius: 3px;
  }

  .skill-bar .skill-per {
    border-radius: 3px;
  }

  .skill-per .tooltip {
    font-size: 8px;
    border-radius: 2px;
    padding: 1px 3px;
  }

  .tooltip::before {
    bottom: -2px;
    width: 8px;
    height: 8px;
  }

  .tool-container .col {
    width: 48%;
  }

  .tool-container .col:nth-of-type(1) {
    margin-left: 0;
  }

  .tool-container .col:nth-of-type(2) {
    margin-right: 0;
  }

  .col h3 {
    font-size: 16px;
  }

  .col ul li {
    font-size: 13px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) and (orientation: portrait) {
  .skill-container {
    margin-left: 8%;
  }

  .skill-box .title {
    font-size: 20px;
  }

  .skill-box .skill-bar {
    height: 8px;
    border-radius: 6px;
  }

  .skill-bar .skill-per {
    border-radius: 6px;
  }

  .skill-per .tooltip {
    font-size: 10px;
    border-radius: 3px;
    padding: 2px 6px;
  }

  .tooltip::before {
    bottom: -2px;
    width: 10px;
    height: 10px;
  }

  .tool-container .col {
    width: 48%;
  }

  .tool-container .col:nth-of-type(1) {
    margin-left: 0;
  }

  .tool-container .col:nth-of-type(2) {
    margin-right: 0;
  }

  .col h3 {
    font-size: 20px;
  }

  .col ul li {
    font-size: 17px;
  }

  .console .skill-box {
    width: 100%;
    margin: 30px 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .skill-container {
    margin-left: 5%;
  }

  .skill-box .title {
    font-size: 16px;
  }

  .skill-box .skill-bar {
    height: 5px;
    border-radius: 3px;
  }

  .skill-bar .skill-per {
    border-radius: 3px;
  }

  .skill-per .tooltip {
    font-size: 9px;
    border-radius: 2px;
    padding: 1px 3px;
  }

  .tooltip::before {
    bottom: -2px;
    width: 8px;
    height: 8px;
  }

  .tool-container .col {
    width: 48%;
  }

  .tool-container .col:nth-of-type(1) {
    margin-left: 0;
  }

  .tool-container .col:nth-of-type(2) {
    margin-right: 0;
  }

  .col h3 {
    font-size: 17px;
  }

  .col ul li {
    font-size: 14px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {}