/* skill page style */
.skill-container {
  width: 80%;
  margin-left: 5%;
}

.console .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 20px;
  font-weight: 600;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  width: 90%;
  height: 100%;
  border-radius: 6px;
  background: limegreen;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skill-bar .skill-per.html {
  width: 90%;
}

.skill-bar .skill-per.css {
  width: 90%;
}

.skill-bar .skill-per.javascript {
  width: 85%;
}

.skill-bar .skill-per.react {
  width: 80%;
}

.skill-bar .skill-per.nodejs {
  width: 80%;
}

.skill-bar .skill-per.expressjs {
  width: 70%;
}

.skill-bar .skill-per.nextjs {
  width: 80%;
}

.skill-bar .skill-per.wordpress {
  width: 75%;
}


.skill-bar .skill-per.python {
  width: 90%;
}

.skill-bar .skill-per.java {
  width: 60%;
}

.skill-bar .skill-per.cpp {
  width: 80%;
}

.skill-bar .skill-per.mongodb {
  width: 70%;
}

.skill-bar .skill-per.postgresql {
  width: 70%;
}

.skill-bar .skill-per.swift {
  width: 50%;
}

.skill-bar .skill-per.ue {
  width: 70%;
}

.skill-bar .skill-per.blender {
  width: 65%;
}


.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  background: limegreen;
  color: #000;
  font-size: 10px;
  font-weight: 700;
  border-radius: 3px;
  padding: 2px 6px;
  z-index: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 10px;
  height: 10px;
  background: limegreen;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

.col ul li:nth-of-type(1) {
  animation: insert 0.4s ease-in-out 0.1s forwards;
}

.col ul li:nth-of-type(2) {
  animation: insert 0.4s ease-in-out 0.2s forwards;
}

.col ul li:nth-of-type(3) {
  animation: insert 0.4s ease-in-out 0.3s forwards;
}

.col ul li:nth-of-type(4) {
  animation: insert 0.4s ease-in-out 0.4s forwards;
}

.col ul li:nth-of-type(5) {
  animation: insert 0.4s ease-in-out 0.5s forwards;
}

@media screen and (max-width: 319px) {
  .skill-box .title {
    font-size: 13px;
  }


  .skill-per .tooltip {
    font-size: 7px;
  }

  .col h3 {
    font-size: 15px;
  }

  .col ul li {
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  .skill-container {
    margin-left: 8%;
  }

  .skill-box .title {
    font-size: 15px;
  }

  .skill-box .skill-bar {
    height: 6px;
    border-radius: 4px;
  }

  .skill-bar .skill-per {
    border-radius: 4px;
  }

  .skill-per .tooltip {
    font-size: 8px;
    border-radius: 2px;
    padding: 1px 3px;
  }

  .tooltip::before {
    bottom: -2px;
    width: 8px;
    height: 8px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) and (min-height: 800px) {
  .skill-box .title {
    font-size: 17px;
  }

  .skill-box .skill-bar {
    height: 6px;
    border-radius: 4px;
  }

  .skill-bar .skill-per {
    border-radius: 4px;
  }

  .skill-per .tooltip {
    font-size: 10px;
    border-radius: 2px;
    padding: 2px 5px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .skill-container {
    margin-left: 8%;
  }

  .skill-box .title {
    font-size: 18px;
  }

  .skill-box .skill-bar {
    height: 8px;
    border-radius: 6px;
  }

  .skill-bar .skill-per {
    border-radius: 6px;
  }

  .skill-per .tooltip {
    font-size: 10px;
    border-radius: 3px;
    padding: 2px 6px;
  }

  .tooltip::before {
    bottom: -2px;
    width: 10px;
    height: 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .skill-container {
    margin-left: 5%;
  }

  .skill-box .title {
    font-size: 15px;
  }

  .skill-box .skill-bar {
    height: 5px;
    border-radius: 3px;
  }

  .skill-bar .skill-per {
    border-radius: 3px;
  }

  .skill-per .tooltip {
    font-size: 8px;
    border-radius: 2px;
    padding: 1px 3px;
  }

  .tooltip::before {
    bottom: -2px;
    width: 8px;
    height: 8px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) and (orientation: portrait) {
  .skill-container {
    margin-left: 8%;
  }

  .skill-box .title {
    font-size: 20px;
  }

  .skill-box .skill-bar {
    height: 8px;
    border-radius: 6px;
  }

  .skill-bar .skill-per {
    border-radius: 6px;
  }

  .skill-per .tooltip {
    font-size: 10px;
    border-radius: 3px;
    padding: 2px 6px;
  }

  .tooltip::before {
    bottom: -2px;
    width: 10px;
    height: 10px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .skill-container {
    margin-left: 5%;
  }

  .skill-box .title {
    font-size: 16px;
  }

  .skill-box .skill-bar {
    height: 5px;
    border-radius: 3px;
  }

  .skill-bar .skill-per {
    border-radius: 3px;
  }

  .skill-per .tooltip {
    font-size: 9px;
    border-radius: 2px;
    padding: 1px 3px;
  }

  .tooltip::before {
    bottom: -2px;
    width: 8px;
    height: 8px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1823px) {}

@media screen and (min-width: 1824px) {
  .skill-container {
    margin-left: 5%;
  }

  .skill-box .title {
    font-size: 25px;
  }

  .skill-box .skill-bar {
    height: 8px;
    border-radius: 6px;
  }

  .skill-bar .skill-per {
    border-radius: 6px;
  }

  .skill-per .tooltip {
    font-size: 15px;
    border-radius: 3px;
    padding: 2px 6px;
  }

  .tooltip::before {
    bottom: -3px;
    width: 10px;
    height: 10px;
  }
}